<!doctype html>
<header>
    <title>BAN-VQA Demo</title>
    <link rel="stylesheet" type="text/css" href="static/{{ style }}.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            setInterval(function() {
               window.location.href = '/';
            }, 3000);  // auto-refresh: 2 min, init: 5 min
        });
    </script>
</header>
<body>
<h1>Too many requests!</h1>
Redirecting to the landing page...
</body>
